* {
  font-family: 'Handlee';
  margin-top: 20px;
  margin-left: 30px;
}

#title {
  font-size: 45px;
  font-weight: bolder;
}

#color1 {
  height: 40px;
  width: 40px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
}

#color2 {
  height: 40px;
  width: 40px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
}

#color3 {
  height: 40px;
  width: 40px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
}

#color4 {
  height: 40px;
  width: 40px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
}

#pixel-board {
  display:flex;
  margin-left: 50px;
}

.pixel {
  background-color: white;
  height: 40px;
  width: 40px;
  border: 1px solid black;
}


   